<div class="figure" style="background-image: url('assets/img/figure.jpg');"></div>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="col-md-12">
				<h1 class="title">Bienvenue</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla odit, voluptate sit molestiae tempore ratione esse vel dolorum adipisci, assumenda veritatis eius eveniet alias quas id porro quidem, ullam dolor.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ratione laudantium mollitia doloremque, perspiciatis architecto, facilis, nisi libero tempore assumenda minus. Voluptates animi ducimus sunt, quibusdam accusamus unde recusandae? Rerum?
				</p>
			</div>
		</div>
	</div>
</div>